<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <p>Register using the form below</p>
    <form method="POST" action="register">
        <label>Username</label>
        <input type="text" name="username">
        <label>Password</label>
        <input type="text" name="password">
        <button type="submit" value="Register">Submit</button>
    </form>

</body>

</html>